<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>verticalAlign</title>
    <style>

    </style>
</head>
<body>
<div class="demo1">
    <div style="background: black;line-height:5px;">
        <img style="width:100px;height:100px;" src="/images/p2.jpg" alt="">
        <span style="display: inline-block;background: #fff;">xxx</span>
    </div>
</div>
<div class="demo2">
    <div style="display: inline-block;width:100px;height:100px;border:1px solid #ccc;">

    </div>
    <div style="display: inline-block;width:100px;height:100px;border:1px solid #ccc;vertical-align: top;">
        xxx
    </div>
</div>
<div class="demo3">
    <div style="background: black;height:240px;line-height:240px;font-size:0;">
        <img style="width:100px;height:100px;vertical-align: middle;" src="/images/p2.jpg" alt="">
    </div>
</div>
</body>
</html>