<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <title>捕鱼达人</title>
    <style>
        *{
            margin:0;
            padding:0;
        }
        #canvas{
            margin:0 auto;
            display: block;
            background:url(/img/game_bg_2_hd.jpg) no-repeat;
            /*background:#fff;*/
            border:1px solid #ccc;
        }
    </style>
</head>
<body>
<canvas id="canvas" width="800" height="600"></canvas>
<!--<button class="pause">暂停</button>-->
<!--<button class="start">开始</button>-->
<script src="/js/base.js"></script>
<script src="/js/sprite.js"></script>
<script src="/js/fish.js"></script>
<script src="/js/bullet.js"></script>
<script src="/js/cannon.js"></script>
<script src="/js/net.js"></script>
<script src="/js/index.js"></script>
</body>
</html>